body{
    font:normal 16px Arial,Verdana,serif;
    text-align:center;
    background-image:url(fundo.jpg);
    background-size:auto;
    background-position:auto;
    color:#fff;
}
#proposta{
    top:20px;
    background-color:rgba(244,4,244,0.963)
}
#candidatos{
    top:80px;
    background-color:#2ad646
}
#Funcoes{
    top:142px;
    background-color:rgba(240,8,8,0.847)
}
.aside a{
    position:absolute;
    left:-90px;
    transition:.2s;
    padding:15px;
    width:100px;
    text-decoration:none;
    font-size:20px;
    color:#fff;
    border-radius:0 15px 15px 0
}
.aside a:hover{
    left:0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar {
    background: #dddddd
}
::-webkit-scrollbar-thumb {
    background: #db1
}
.div1 {
    height: 900px;
    width:950px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(3, 2, 4);
    margin: 0 auto 0 auto;
    padding: 10px;
    margin-top: 20px;
}
h1 {
    color: rgb(25, 210, 207);
}
h2 {
    color: rgba(0, 0, 0, 0.726);
}
p {
    color: black;
}
